@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-turn-black {
    color: black;
    display: inline-block;
    line-height: 100%;
    position: relative;
    z-index: 0;
    -webkit-transition: border-color 0.35s ease, background 0.35s ease;
    transition: border-color 0.35s ease, background 0.35s ease;
}

.hover-turn-black:before {
    background-color: black;
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.hover-turn-black:hover:before {
    right: 0%;
}

.hover-turn-black:hover {
    color: white;
    transition: 0.25s;
}
